USE [ForbiddenBookshop]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 11.04.2026 1:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](100) NULL,
	[CurseLevel] [int] NULL,
	[Language] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11.04.2026 1:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[MadnessLevel] [int] NULL,
	[RegistrationDate] [date] NULL,
	[LastOrderDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisappearedReaders]    Script Date: 11.04.2026 1:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisappearedReaders](
	[DisappearanceID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[DisappearanceDate] [date] NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DisappearanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keepers]    Script Date: 11.04.2026 1:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keepers](
	[KeeperID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ExperienceYears] [int] NULL,
	[ExorcismCertified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KeeperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 11.04.2026 1:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ActionType] [nvarchar](100) NULL,
	[ActionDescription] [nvarchar](500) NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderBooks]    Script Date: 11.04.2026 1:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderBooks](
	[OrderBookID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtMoment] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderBookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11.04.2026 1:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [date] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11.04.2026 1:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.04.2026 1:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
	[FullName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [Title], [Author], [CurseLevel], [Language], [Price], [Stock], [Description]) VALUES (1, N'Некрономикон', N'Абдул Альхазред', 10, N'Древний', CAST(999.99 AS Decimal(10, 2)), 3, N'После прочтения вырастает третий глаз')
INSERT [dbo].[Books] ([BookID], [Title], [Author], [CurseLevel], [Language], [Price], [Stock], [Description]) VALUES (2, N'Книга Эйбона', N'Эйбон', 9, N'Аккадский', CAST(750.00 AS Decimal(10, 2)), 5, N'Волосы выпадают через 7 дней')
INSERT [dbo].[Books] ([BookID], [Title], [Author], [CurseLevel], [Language], [Price], [Stock], [Description]) VALUES (3, N'Текст Рльеха', N'Лавкрафт', 10, N'Руны', CAST(1200.00 AS Decimal(10, 2)), 1, N'Безумие +50%')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [UserID], [MadnessLevel], [RegistrationDate], [LastOrderDate]) VALUES (1, 2, 45, CAST(N'2024-01-10' AS Date), CAST(N'2025-03-01' AS Date))
INSERT [dbo].[Customers] ([CustomerID], [UserID], [MadnessLevel], [RegistrationDate], [LastOrderDate]) VALUES (2, 3, 78, CAST(N'2024-02-14' AS Date), CAST(N'2025-03-10' AS Date))
INSERT [dbo].[Customers] ([CustomerID], [UserID], [MadnessLevel], [RegistrationDate], [LastOrderDate]) VALUES (3, 4, 92, CAST(N'2024-03-20' AS Date), CAST(N'2025-02-28' AS Date))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[DisappearedReaders] ON 

INSERT [dbo].[DisappearedReaders] ([DisappearanceID], [CustomerID], [BookID], [DisappearanceDate], [Notes]) VALUES (1, 2, 7, CAST(N'2025-03-20' AS Date), N'Исчез после прочтения "Песни Йога-Сотота"')
INSERT [dbo].[DisappearedReaders] ([DisappearanceID], [CustomerID], [BookID], [DisappearanceDate], [Notes]) VALUES (2, 3, 1, CAST(N'2025-02-15' AS Date), N'Появился третий глаз, затем исчез через неделю')
INSERT [dbo].[DisappearedReaders] ([DisappearanceID], [CustomerID], [BookID], [DisappearanceDate], [Notes]) VALUES (3, 6, 10, CAST(N'2025-03-14' AS Date), N'Пропал без вести в полнолуние')
SET IDENTITY_INSERT [dbo].[DisappearedReaders] OFF
GO
SET IDENTITY_INSERT [dbo].[Keepers] ON 

INSERT [dbo].[Keepers] ([KeeperID], [UserID], [ExperienceYears], [ExorcismCertified]) VALUES (1, 6, 25, 1)
INSERT [dbo].[Keepers] ([KeeperID], [UserID], [ExperienceYears], [ExorcismCertified]) VALUES (2, 7, 12, 1)
INSERT [dbo].[Keepers] ([KeeperID], [UserID], [ExperienceYears], [ExorcismCertified]) VALUES (3, 29, 8, 0)
SET IDENTITY_INSERT [dbo].[Keepers] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([LogID], [UserID], [ActionType], [ActionDescription], [ActionDate]) VALUES (6, 1, N'Добавление', N'Добавлена книга "Некрономикон"', CAST(N'2025-01-10T10:23:00.000' AS DateTime))
INSERT [dbo].[Logs] ([LogID], [UserID], [ActionType], [ActionDescription], [ActionDate]) VALUES (7, 1, N'Обновление', N'Изменен уровень проклятия у книги "Гримуар Теней"', CAST(N'2025-02-01T14:15:00.000' AS DateTime))
INSERT [dbo].[Logs] ([LogID], [UserID], [ActionType], [ActionDescription], [ActionDate]) VALUES (8, 1, N'Удаление', N'Удален пользователь "temp_user"', CAST(N'2025-02-20T09:45:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderBooks] ON 

INSERT [dbo].[OrderBooks] ([OrderBookID], [OrderID], [BookID], [Quantity], [PriceAtMoment]) VALUES (1, 1, 1, 1, CAST(999.99 AS Decimal(10, 2)))
INSERT [dbo].[OrderBooks] ([OrderBookID], [OrderID], [BookID], [Quantity], [PriceAtMoment]) VALUES (2, 1, 20, 3, CAST(250.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderBooks] ([OrderBookID], [OrderID], [BookID], [Quantity], [PriceAtMoment]) VALUES (3, 2, 7, 1, CAST(1500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderBooks] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status]) VALUES (1, 1, CAST(N'2025-03-01' AS Date), CAST(1750.00 AS Decimal(10, 2)), N'Completed')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status]) VALUES (2, 2, CAST(N'2025-03-10' AS Date), CAST(999.99 AS Decimal(10, 2)), N'Completed')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status]) VALUES (3, 3, CAST(N'2025-02-28' AS Date), CAST(1500.00 AS Decimal(10, 2)), N'Completed')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Administrator')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (4, N'Archivist')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (5, N'CurseInspector')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [RoleID], [FullName]) VALUES (1, N'1', N'1', 1, N'Аббадон Мрачный')
INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [RoleID], [FullName]) VALUES (2, N'2', N'2', 2, N'Иван Безумцев')
INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [RoleID], [FullName]) VALUES (3, N'maria_curse', N'pass123', 2, N'Мария Третьеглазова')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Customer__1788CCAD68ECE75E]    Script Date: 11.04.2026 1:38:59 ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Keepers__1788CCAD8BEC81C6]    Script Date: 11.04.2026 1:38:59 ******/
ALTER TABLE [dbo].[Keepers] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B616033E64840]    Script Date: 11.04.2026 1:38:59 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825BE1E0167E]    Script Date: 11.04.2026 1:38:59 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[DisappearedReaders] ADD  DEFAULT (getdate()) FOR [DisappearanceDate]
GO
ALTER TABLE [dbo].[Keepers] ADD  DEFAULT ((0)) FOR [ExorcismCertified]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DisappearedReaders]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[DisappearedReaders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Keepers]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[OrderBooks]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[OrderBooks]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([CurseLevel]>=(1) AND [CurseLevel]<=(10)))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([MadnessLevel]>=(0) AND [MadnessLevel]<=(100)))
GO
